/Semana 1/Semana1/nbproject/private/
/Semana 1/Semana1/build/
/Semana2/nbproject/private/
/Semana1/nbproject/private/
/Semana1/build/
/Semana2/build/
/Semana04/nbproject/private/
/Semana4/nbproject/private/
/Semana4/build/
